<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div>
    <ul class="nav navbar-nav">
      <li>
          {{link-to "Cars" "cars"}}
      </li>
      <li class="divider-vertical"></li>
      <li>
          {{link-to "Profile" "user"}}
      </li>
    </ul>
  </div>
</nav>
{{outlet}}
