<div class="container">
  <div class="row">
    <legend>Profile</legend>
    <table class="table table-striped">
      <tr>
        <th>e-mail</th>
        <th>Full Name</th>
        <th>Short Name</th>
      </tr>
      <tr>
        <td>{{email}}</td>
        <td>{{fullName}}</td>
        <td>{{shortName}}</td>
      </tr>
    </table>
  </div>
</div>
